body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    background-color: #fdfdfd;
}
header{
    background-color: #e8f5f5;
    color: #2d7367
}
section{
    max-width: 100%;
}

h1 h2 h5{
    color: #2d7367
}
.btn-succes{
    background-color: #2d7367;
    border: none
}

.btn-succes:hover{
    background-color:#245e54
}
.island.png{
    width: 30px;;
}
